:root {
    --font-style: 'Times New Roman';
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    place-items: center; /* align to middle vertically */
    justify-content: center; /* aligh to middle horizontally */
    justify-items: center; 
}


.box {

    background-color: #000000;
    
    display: flex;

    margin: 0;
    height: 300px;
    width: 600px;

    place-items: center; 
    align-items: center;
    justify-content: center;
    justify-items: center;

    border: 1px solid #4fff00;
    border-radius: 20px;
    
    transition: 0.3s;
    
}
.box:hover {
    height: 350px;
    width: 650px;
    animation: breathe 3s infinite ease-in-out;
}
@keyframes breathe {
    /* this is a 50-50 percent breathe swing*/
    0% {
        box-shadow: 0 0 0px #4fff00;
    }
    50% {
        box-shadow: 0 0 40px #4fff00;
    }
    100% {
        box-shadow: 0 0 0px #4fff00;
    }
    
}

.form {
    color: #ffffff;
}

.logo {
    font-family: var(--font-style);
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    
}
.logo, #username-label, #password-label {
    font-family: var(--font-style);
    display: block;
    width: 300px;
}
#username-input, #password-input {
    font-family: var(--font-style);
    display: block;
    width: 300px;
    
    color: #4fff00;
    background-color: #000000;
    
    border-style: dotted;
    border-width: 1px;
    border-color: #ffffff;

    height: 20px;
    transition: height 200ms;

}
#username-input:hover, #password-input:hover {
    height: 40px;
    border: 1px solid #51ff00;
}

#username-input::placeholder, #password-input::placeholder {
    font-family: var(--font-style);
    color: #51ff0045;
}

.username-div, .password-div {
    padding-bottom: 10px;
}

.login-button-div {
    padding-top: 0px;
    padding-bottom: 30px;
}
.login-button {
    font-family: var(--font-style);

    display: block;
    width: 100%;;
    border: 0;

    background-color: #4fff00;
    color: #000000;

    height: 20px;
    transition: height 200ms;

    padding-left: 0;
    padding-right: 0;
}
.login-button:hover {
    box-shadow: 0 0 10px #ffffff inset;
    cursor: pointer;
}

.forgot-password-p, .register-account-p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-family: var(--font-style);
}
.forgot-password-link, .register-link {
    font-family: var(--font-style);
    color: #4fff00;
}